{
    "account": {
        "default-password-length": 8
    },
    "captcha": {
        "length": 5,
        "timeout": 5
    },
    "reply": {
        "allow-anonymous": true,
        "allow-edit": false,
        "require-captcha": false
    },
    "smtp": {
        "host": "smtp.gmail.com",
        "user": "noreply@dukelec.com",
        "password": "XXXX",
        "name": "Duke Blog Server",
        "subject": "Your password",
        "body": "Your password is:\n--- $password ---"
    },
    "cipher": {
        "key": "7f51f2cf3fce1c3ecbb01b8a9c374c8ab5f9c48035620aebf87650d35ed5b27b",
        "iv": "9bdf52a4830779a1383ac24f1b3ed054"
    }
}
