
<h2>{{article.title}}</h2>
<p><small>Languages: {{article.languages | join: ', '}} | Categories: {{article.categories | join: ', '}} | Tags: {{article.tags | join: ', '}} |
        {{article.date | str2date | date: 'medium'}} | Count: {{article.count}}</small></p>
<div #container></div>
<br/>

<h4>Comments:</h4>
<div *ngFor="#reply of replys"  >
	<div>
		<p><small>#{{reply.id}}, {{reply.date}}, {{reply.name}} &lt;{{reply.email}}&gt; wrote:</small></p>
		<p>{{reply.body}}</p>
	</div>
</div>
<br/>

<h4>Post a Comment:</h4>
<div>
  <label>name: </label><input [(ngModel)]="new_reply.name" placeholder="name" /><br/>
  <label>email: </label><input [(ngModel)]="new_reply.email" placeholder="email" /><br/>
  <label>body: </label><br/>
  <textarea [(ngModel)]="new_reply.body" placeholder="body" rows="4" cols="50"></textarea><br/>
  <!--label>captcha: </label><input [(ngModel)]="new_reply.captcha" placeholder="captcha" /><br/-->
</div>
<button (click)="writeReply()">Submit Comment</button>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
