
  <h2>{{article.title}} details!</h2>
  <div [innerHTML]="article.title"></div>
  <div>
    <label>url: </label>{{article.url}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="article.title" placeholder="title" />
  </div>
  <div #container></div>
  <button (click)="goBack()">Back</button>

  <div *ngFor="#reply of replys"  >
		<div>
			<h4>{{reply.id}}</h4>
		</div>
	</div>

  <div>
    <label>name: </label>
    <input [(ngModel)]="new_reply.name" placeholder="name" />
    <label>email: </label>
    <input [(ngModel)]="new_reply.email" placeholder="email" />
    <label>body: </label>
    <input [(ngModel)]="new_reply.body" placeholder="body" />
    <label>captcha: </label>
    <input [(ngModel)]="new_reply.captcha" placeholder="captcha" />
  </div>
  <button (click)="writeReply()">Write reply</button>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
