<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div [innerHTML]="hero.name"></div>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
</div>
<a name="chapter4">444</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="!gg">ddd</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script>
alert("!!!!!!!");
document.write("<h1>Hello World!</h1><p>Have a nice day!</p>");
</script>
<br>
<br>
<a href="#chapter4">go 444</a>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
